---
import Base from "@layouts/Base.astro";
import { ICON_SIZE_LG, SITE_DESCRIPTION } from "../../consts";

import { file, langs } from "@scripts/i18n";
import { Icon } from "astro-icon/components";
export async function getStaticPaths() {
  return langs.map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
if (typeof lang === "undefined") {
  return Astro.rewrite(`/sr${Astro.url.pathname}`);
}

const { frontmatter } = await file("ostalo", lang);
---

<Base {lang} title={frontmatter.naslov} description={SITE_DESCRIPTION}>
  <section>
    <h1>{frontmatter.kontakt}</h1>

    <article>
      <h2>{frontmatter.naslov}</h2>
      <ul>
        <li>
          <a href="https://blokade.org">
            <Icon size={ICON_SIZE_LG} name="mdi:web" />
            Zvanični sajt studenata u blokadi
          </a>
        </li>
        <li>
          <a href="https://blokadnedonacije.rs">
            <Icon size={ICON_SIZE_LG} name="mdi:hand-coin" />
            Потребне донације
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/blokada.bioloski">
            <Icon size={ICON_SIZE_LG} name="mdi:instagram" />
            @blokada.bioloski
          </a>
        </li>
        <li>
          <a href="https://www.x.com/blokadabio">
            <Icon size={ICON_SIZE_LG} name="mdi:twitter" />
            @BlokadaBio
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@blokada.bioloski/">
            <Icon size={ICON_SIZE_LG} name="ic:baseline-tiktok" />
            @blokada.bioloski
          </a>
        </li>
        <li>
          <a href="mailto:bioloziublokadi@gmail.com">
            <Icon size={ICON_SIZE_LG} name="mdi:email" />
            bioloziublokadi@gmail.com
          </a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/QWG2cPobiYjMm5qu5?g_st=com.google.maps.preview.copy">
            <Icon size={ICON_SIZE_LG} name="mdi:map-marker" />
            Biološki fakultet u Beogradu
          </a>
        </li>
      </ul>
    </article>
  </section>
</Base>

<style>
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin-top: 2rem;
  }

  a {
    display: flex;

    text-decoration: none;
    color: black;
    align-items: center;
    gap: 1rem;

    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  a.live {
    border-color: var(--accent);
  }

  a:hover {
    filter: opacity(0.5);
  }
</style>
