---
import { Icon } from 'astro-icon/components';
import { type CollectionEntry, getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import { ICON_SIZE_LG } from 'consts';
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { langs } from '@scripts/translate';

export async function getStaticPaths() {
    const linkovi = await getCollection('linkovi');
    let ret = [];

    for (const lang of langs) {
        ret.push(...linkovi.map((post) => ({
            params: { lang: lang, slug: post.id },
            props: post,
        })));
    }

    return ret;
}

type Props = CollectionEntry<'linkovi'>;
const linkovi = Astro.props;
---

<html>
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
    <Header />
    <main>
        <ul>
            {linkovi.data.linkovi.map(link =>
                <li>
                    <a href={link.link}>
                        {link.ikonica !== "bez" && <Icon size={ICON_SIZE_LG} name={`mdi:${link.ikonica}`} />}
                        {link.naslov}
                    </a>
                </li>
            )}
        </ul>
    </main>
    <Footer />
</body>
</html>

<style>
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    a {
        display: flex;
        
        text-decoration: none;
        color: black;
        align-items: center;
        gap: 1rem;

        border: 2px solid black;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    a:hover {
        filter: opacity(0.5);
    }
</style>