---
import FormattedDate from "./FormattedDate.astro";
import { CARD_MAX_SUBTITLE_LENGTH } from "consts";

interface Props {
  title: string;
  subtitle: string;
  thumbnail: string;
  link: string;
  date: Date;
}

const { title, subtitle, thumbnail, link, date } = Astro.props;
const truncatedSubtitle =
  subtitle.length > CARD_MAX_SUBTITLE_LENGTH
    ? subtitle.substring(0, CARD_MAX_SUBTITLE_LENGTH) + "..."
    : subtitle;
---

<article class="card">
  <a href={link} class="card-link">
    <img src={thumbnail} alt={title} class="card-thumbnail" loading="lazy" />
    <div class="card-content">
      <div class="card-text">
        <h3 class="card-title">{title}</h3>
        <p class="card-subtitle">{truncatedSubtitle}</p>
      </div>
      <div class="card-footer">
        <FormattedDate date={date} />
      </div>
    </div>
  </a>
</article>

<style>
  .card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .card-subtitle {
    font-size: 0.9rem;
    color: #666;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes footer to the bottom */
    flex-grow: 1;
    padding: 16px;
  }

  .card-text {
    flex-grow: 1; /* Allows subtitle and title to take up space */
  }

  .card-footer {
    font-size: 0.8rem;
    color: #999;
    margin-top: auto; /* Ensures it sticks to the bottom */
  }
</style>
