---
import { Icon } from "astro-icon/components";
import { ICON_SIZE_LG } from "consts";
const today = new Date();
const socialIcons = [
  {
    icon: "mdi:instagram",
    link: "https://instagram.com/studenti_u_blokadi",
  },
  {
    icon: "mdi:facebook",
    link: "https://www.facebook.com/people/Studenti-u-blokadi-UB/61571631694236/",
  },
  {
    icon: "mdi:twitter",
    link: "https://x.com/studentblokade",
  },
  {
    icon: "mdi:github",
    link: "https://github.com/blokada-rs/sajt",
  },
];
---

<footer>
  <div class="footer-container">
    <div>Blokade fakulteta {today.getFullYear()}.</div>
    <div class="social-links">
      {
        socialIcons.map(({ icon, link }) => (
          <a href={link} target="_blank" rel="noopener noreferrer" style={`height: ${ICON_SIZE_LG}px;`}>
            <Icon name={icon} size={ICON_SIZE_LG} class="icon" />
          </a>
        ))
      }
    </div>
  </div>
</footer>

<style>
  .footer-container {
    width: 70rem;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 0em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .icon {
    color: rgb(var(--gray));
  }
  .icon:hover {
    color: rgb(var(--gray-dark));
    cursor: pointer;
  }
  @media (max-width: 720px) {
    .footer-container {
      flex-direction: column;
    }
    .social-links {
      margin-top: 1em;
    }
  }
</style>
