---
import { Icon } from "astro-icon/components";
import { ICON_SIZE_LG } from "consts";
const today = new Date();
const socialIcons = [
  {
    label: "Instagram",
    icon: "mdi:instagram",
    link: "https://www.instagram.com/blokada.bioloski",
  },
  {
    label: "Twitter",
    icon: "mdi:twitter",
    link: "https://www.x.com/blokadabio",
  },
  {
    label: "TikTok",
    icon: "ic:baseline-tiktok",
    link: "https://www.tiktok.com/@blokada.bioloski/",
  },
  {
    label: "Github",
    icon: "mdi:github",
    link: "https://github.com/blokada-rs/bioloski-sajt",
  },
];
---

<footer>
  <div class="footer-container">
    <div>Studenti u blokadi Biološkog fakulteta u Beogradu {today.getFullYear()}.</div>
    <div class="social-links">
      {
        socialIcons.map(({ label, icon, link }) => (
          <a aria-label={label} href={link} target="_blank" rel="noopener noreferrer" style={`height: ${ICON_SIZE_LG}px;`}>
            <Icon name={icon} size={ICON_SIZE_LG} class="icon" />
          </a>
        ))
      }
    </div>
  </div>
</footer>

<style>
  .footer-container {
    width: 70rem;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 0em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .icon {
    color: rgb(var(--gray));
  }
  .icon:hover {
    color: rgb(var(--gray-dark));
    cursor: pointer;
  }
  @media (max-width: 720px) {
    .footer-container {
      flex-direction: column;
    }
    .social-links {
      margin-top: 1em;
    }
  }
</style>
