---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro';
import { Picture } from 'astro:assets';
import { Markdown } from '@astropub/md';

type Props = {timeline: CollectionEntry<"vesti">["data"]["timeline"]};
const { timeline } = Astro.props;
---
{typeof timeline !== "undefined" && 
  <section>
    <div class="desavanja">
      {timeline.map(post => 
        <article>
          <h3>{post.naslov}</h3>
          <FormattedDate date={post.datum} time />
          {(post.slike.length > 0 || (post.videos?.length ?? 0) > 0) && 
            <div class="slike">
              {post.videos?.map(video =>
                <iframe 
                  src={`https://www.youtube-nocookie.com/embed/${video}`} 
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen 
                />
              )}
              {post.slike.map(slika => 
                <Picture formats={['avif', 'webp']} src={slika} alt="" />
              )}
            </div>
          }
          
          {typeof post.tekst !== "undefined" &&
            <Markdown of={post.tekst} />
          }
        </article>
      )}
    </div>
  </section>
}

<style>
  .desavanja {
    margin-top: 2rem;
    border-left: 4px solid black;
    padding-left: 24px;
  }
  
  article {
    margin-bottom: 3rem;
  }

  article h3 {
    position: relative;
    margin-bottom: 0;
  }

  article h3::before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--accent);
    top: 50%;
    translate: 0 -50%;
    left: -39px;
    border-radius: 50%;
    border: 6px solid white;
  }

  article p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: justify;
  }

  .slike {
    margin-block: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }

  @media (max-width: 700px) {
    .slike {
      grid-template-columns: 1fr;
    }
  }

  .slike img {
    width: 100%;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 8px;
  }
</style>